{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href= "{% static 'css/styles.css' %}", type="text/css">
<div class="mainpage">
<div class="main">
{% if product_list %}
	{% for product in product_list %}
		<div class="news_block"><img class="news" src="{{ product.image.url }}"><p class="statta"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></p></div>
	{% endfor %}
</div></div>
{% else %}
<strong>Nothing here</strong>
{% endif %}
</div>
{% endblock %}