{% extends 'base.html' %}

{% block content %}

{{ interview }}
<p><b>Interviewers:</b>
{% for interviewer in interview.interviewer %}
{{ interviewer }};
{% endfor %}</p>
<p><b>HR:</b> {{ interview.recrutier }}</p>
<h4>Questions:</h4>
{% for q in interview.question %}
<p>{{q}}</p>
{% endfor %}
<h3 align="right">Total grade at this moment: {{ interview.final_grade }}/100</h3>
<h3>Choose and grade question:</h3>
<form method='post'> 
{{ form.hidden_tag() }}
{{ form.question}}
{{ form.grade }}
{% for error in form.grade.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
<p>{{ form.sumbit }}</p>
</form>
{% endblock %}